<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <form method = "POST" action="/blogs/<%= blog._id %>?_method=DELETE">
            <button class = "delete">Delete</button>
        </form>
        <form method = "GET" action="/blogs/edit/<%= blog.id %>">
            <button class = "update">Edit</button>
        </form>

    </div>
    
    <%- include('../partials/footer.ejs') %>
    <% /* %>
    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/blogs/${e.target.dataset.doc}`;
            fetch(endpoint, {
                method : 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => {window.location.href = data.redirect})
            .catch((err) => {
                console.log(err);
            })
        });
    </script>
    
    (Unsure) Reason for not redirecting using a href in the anchor tag maybe
    Using href, we would be redirected regardless of wether the delete operation in the database is completed or not
    Using the above method, it makes sure that the delete operation is completed and then the redirect takes place
    <% */ %>
</body>
</html>