<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="details content">
        <h2 class="blog-title"><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <form class="details-form" method = "GET" action="/blogs/edit/<%= blog.id %>">
            <button class = "update">Edit</button>
        </form>
        <form class="details-form" method = "POST" action="/blogs/<%= blog._id %>?_method=DELETE">
            <button class = "delete">Delete</button>
        </form>

    </div>
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>