<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="create-blog content">
        <form action="/blogs/<%= blog._id %>?_method=PUT" method="post">
            <label for="title">Blog Title</label>
            <input type="text" id="title" name="title" value="<%= blog.title %>" required>
            <label for="snippet">Blog Snippet:</label>
            <input type="text" id="snippet" name="snippet" value="<%= blog.snippet %>" required>
            <label for="body">Blog Body:</label>
            <textarea id="body" name="body" required><%= blog.body %></textarea>
            <button>Edit</button>
        </form>
    </div>

<%- include('../partials/footer.ejs') %>    
</body>
</html>